{
  plugins:
    marked:
      markedOptions:
        gfm: true
        sanitize: false
  collections:
    overviewSections: (database) ->
      database.createLiveChildCollection().findAll(doc: 'overview').setComparator(sectionOrder: 1)
    referenceSections: (database) ->
      database.createLiveChildCollection().findAll(doc: 'reference').setComparator(sectionOrder: 1)
    standardStructureData: (database) ->
      database.createLiveChildCollection().findAll(standardStructOrder: $exists: true).setComparator(standardStructOrder: 1)
    valueTypes: (database) ->
      database.createLiveChildCollection().findAll(valueTypesOrder: $exists: true).setComparator(valueTypesOrder: 1)
}
