{
  plugins:
    marked:
      markedOptions:
        gfm: true
        sanitize: false
  collections:
    overviewSections: (database) ->
      database.createLiveChildCollection().findAll(doc: 'overview').setComparator(sectionOrder: 1)
    referenceSections: (database) ->
      database.createLiveChildCollection().findAll(doc: 'reference').setComparator(sectionOrder: 1)
    standardStructureData: (database) ->
      database.createLiveChildCollection().findAll(doc: 'standard-structure').setComparator(standardStructOrder: 1)
    appAccessSections: (database) ->
      database.createLiveChildCollection().findAll(doc: 'app-access').setComparator(sectionOrder: 1)
}
