-// load JSON file
-// TODO: find a solution to include JSON files
- var data = require(sourceFile)
- data.types = {}
each className in Object.keys(data.classes)
  - var classDef = data.classes[className]
  each formatName in Object.keys(classDef.formats)
    - var formatDef = classDef.formats[formatName]
    - data.types[className + '/' + formatName] = formatDef
- delete data.classes
!= JSON.stringify(data, null, '  ')
