// Pryv style variables

$brand-primary = $pryv-dark-gray
$link-color = $pryv-blue

@import 'pryv'

// Overrides & custom stuff

body
  background-color: $white
  padding-top: $navbar-height
  overflow-x: hidden

#main
  margin-bottom: $navbar-height
  hr
    margin-left: -15px
    margin-right: -15px

.ss-icon
  font-size: 1.3em
  vertical-align: middle

blockquote, ul:not(.nav):not(.dropdown-menu), ol, dl, table, pre
  &:not(:first-child)
    margin-top: ($line-height-computed / 2)
    margin-bottom: ($line-height-computed / 2)

body:not(.home)
  h1
    margin-left: - $grid-gutter-width
    margin-right: - $grid-gutter-width
    padding: $page-header-vpadding $grid-gutter-width
    background-color: alpha($pryv-black, 0.1)

  h1.page-title
    color: $text-color
    background-color: transparent

  h2
    @extend .page-header


pre code
  font-size: 90%

img
  max-width: 100%

table
  width: 100%
  thead
    border-bottom: 1px solid #E7E7E7;
  th, td
    padding: 0.4em 0.4em 0.4em 0
  th
    vertical-align: bottom
  td
    vertical-align: top

table.definitions
  width: auto
  th, td
    padding: 0 0 0.4em 0
  th
    padding-right: 0.8em
    vertical-align: top
    text-align: right
    font-weight: normal
  table.definitions
    margin-top: 0
  .attribute
    margin-left: 0.5em

dl
  margin: 2em 0;
  padding: 0;

dt
  width: 15em;
  float: left;
  margin: 0 0 0 0;
  padding: .5em;
  text-align: right;

dd
  margin: 0 0 0 0;
  padding: .5em;

.navbar
  .navbar-brand.logo
    padding-top: 8px
    img
      width: auto
      height: 33px
  .navbar-brand.logo.pryv-home
    padding-top: 12px
    img
      height: 24px

#footer-nav .navbar-nav
  margin-left: -15px
#page-footer nav
  margin-bottom: 0

body.home
  h1
    padding: 0
    img
      margin: 0.25em

  .jumbotron
    margin: 0 -15px 2rem
    border-radius: 0
    padding: 2rem 0
    text-align: center
    color: $white
    background: $brand-primary url(images/laptop&makey.jpg) center
    background-size: cover
    h1
      margin: 0
      font-size: floor($font-size-base * 2.428571429) // reset to default h1 size

  #logo-dev
    max-width: 100px
    height: auto

  .summary
    margin: 2em 0
    text-align: center
    p
      margin: 0
    .lead, &> .row
      margin-bottom: 2em
    .btn-lg
      margin-bottom: 0.5em
      font-weight: 300

    ul.dropdown-menu-lg
      width: 100%
      text-align: center
      li
        a
          font-size: $font-size-large
          font-weight: 300
          line-height: $line-height-large

.marketing-icon
    text-align: center
    margin-bottom: 30px
    h2
      margin-top: 0
      border: 0
      padding-top: 10px;
    img
      margin: 15px 0 0 0
    pre>code
      text-align: left
      max-height: 250px
      overflow-y: auto
    p
      font-size: 1.1em;
      line-height: 1.4;

  .status
    text-align: center

  .signup
    margin: 30px -15px 0 -15px
    padding: 30px 15px 30px 15px
    text-align: center
    background-color: #EDEFF3
    .form-group, .checkbox
      margin-right: 10px
    input:not([type=checkbox]), button
      margin: 10px 0
      max-width: 100%
      height: 2.4em
      font-size: 1.2em
    input[type=checkbox]
      margin-right: 0.25em
      float: none
    label, .text
      font-size: 1.2em
    button
      background-color: #266C9C


.buttonCreateAccount
  a
    text-align: center
    margin: 0 auto
    background-color: #C22121;
    color: #FFABAB;
    width: 340px;
    padding: 20px 30px;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    font-size:18px
    strong
      color:$white

#main
  ul:not(.nav, .dropdown-menu)
    margin: 0;
    padding: 0;
    list-style: none;
    li
      list-style-type: square

  ul:not(.nav, .dropdown-menu), ol
    li
      margin-left: 2.4em
      padding: 10px 0 10px 0.4em

  .content
    .meta
      margin-bottom: 0.5em

    .method-id, :not(code).http
      display: inline-block
      height: 1.6em
      border-radius: 0.25em
      overflow: hidden
      .label
        padding: 0.5em 0.6em
        border-radius: 0
        margin: 0
      .label-value
        code, span
          padding: 0.6em 0.6em
          border-radius: 0
          margin: 0
          white-space: nowrap
          background-color: #EDEFF3

    .method-id
      margin-right: 0.5em
      .label
        background-color: #266C9C

  aside
    pre
      max-height: 400px
      overflow-y: auto

  .header>span:not(:last-child)
    margin-right: 0.25em

  .http
    margin-right: 0.5em
    .label
      background-color: #7E7E7E

  .example .step-marker, .marketing-icon .step-marker
    text-align: center
    margin-top: -0.60em;
    margin-bottom: -0.58em;
    font-size: 2em
    color: $pryv-light-gray;

  .trusted-only
    background-color: #DD8800
    font-size: 1em
    text-transform: uppercase
    vertical-align: 0.5em

#toc
  display: none
  position: fixed
  top: $navbar-height
  bottom: $navbar-height
  color: $white
  overflow: auto
  nav-or-action()
  width: 220px
  padding-right: 20px
  font-size: ($font-size-base / 1.125)
  ul.nav
    margin: 0
    padding: 0
    //background-color: $white
  ul.toc-ul-root
    padding: 15px 0
  .nav .nav
    display: none
  .active > .nav
    display: block
  a
    color: #999
    padding: ($line-height-computed / 4) ($grid-gutter-width / 2)
    line-height: $headings-line-height
    &.toc-link-1
      font-weight: 700
    &.toc-link-2
      padding-left: ($grid-gutter-width)
    &.toc-link-3
      padding-left: ($grid-gutter-width * 1.5)
      font-family: $font-family-base
      text-transform: none
      letter-spacing: none
  .active > a
    color: $text-color

@media (max-width: 600px)
  body.home h1 span
    display: block

@media (min-width: 767px)
  h2, h3, h4, h5, h6
    &:first-child
      margin-top: 0

  #page-header > nav
    height: $navbar-height
  html
    body.with-toc
      .row
        position:relative
    body.with-toc.with-examples
      #main-wrapper
        width:auto
      #main
        float: left;
        background-color: rgba(0, 8, 64, 0.03)
        margin: 0 0 0 50%
        max-width: none
        width: 50%
    body.home
      #main-wrapper
        width:auto


  body.with-examples
    #main-wrapper
      padding: 0
    #main
      section
        float: left;
        clear: both;
        width: 100%

        > h1, > h2, > h3
          float: left
          clear: left
          width: "calc(50% + %s)" % ($grid-gutter-width)
        > h1
          width: "calc(100% + %s)" % ($grid-gutter-width * 2)
        > .intro
          //color: $pryv-light-gray
        > .intro, > .content
          float: left
          clear: left
          width: 50%
          padding-right: $grid-gutter-width

        > aside
          float: right
          clear: right
          width: 50%
          padding-left: $grid-gutter-width
          :not(pre)>code
            background-color: $white

      > section, > h1.page-title
        margin-left: -100%
        width: 200%
      > section
        padding-left: $grid-gutter-width
        padding-right: $grid-gutter-width

@media (min-width: 1120px)
  html
    body.with-toc
      #toc
        display: block
        margin-left: -225px
    body.with-toc.with-examples
      #toc
        left: 0;
        margin-left: 0
        width: 200px
      #main-wrapper
        margin-left: 200px
