---
name: 'about'
title: 'About'
layout: 'default'
withExamples: false
withTOC: false
---
section.temp
  :markdown
    # About the API

    TODO: sections covering the following:

    - What the Pryv API is
    - Basics of how it works
    - What apps can be built on top of it
    - Why we made it
    - Links to concepts, guides and references for starting off

