---
name: 'index'
title: 'Home'
layout: 'default'
withExamples: false
withTOC: false
---
.masthead
      .container
        h1 Welcome Developer
        img(src="images/logo-API-Big.png")

.container
      .row-fluid.marketingIcon
        .span4
          img(src="images/iconUserDev.png")
          h2 API URL
          p Due to the stage of development we're in, the frequent changes and the confidential number of developers working with us, we recommend everyone to use our staging API at `https://{username}.rec.la`, which matches the information on the present site.(The production API on `pryv.io` is updated much less often.)
        .span4
          img(src="images/iconCircleDev.png")
          h2 Quick notes
          p This is the future site for Pryv developers. It is work-in-progress, bare-bones stuff but should be enough to get you going, with our support of course (just <a href="mailto:developers@pryv.com">contact us</a> if you need help).
        .span4
          img(src="images/iconUserDev.png")
          h2 By nerds
          p This is the future site for Pryv developers. It is work-in-progress, bare-bones stuff but should be enough to get you going, with our support of course (just <a href="mailto:developers@pryv.com">contact us</a> if you need help).
      .row-fluid.buttonCreateAccount
          a <strong>Create a user</strong> on the staging environment
      .row-fluid
          h2 News
          p You can follow the latest updates on [our temporary developers blog](http://dev-blog.pryv.com),or subscribe to the [newsfeed](http://dev-blog.pryv.com/feed).
  
