---
name: 'index'
---

doctype 5
html.no-js(lang='en')
  head
    meta(charset='UTF-8')
    title Pryv developers home
    meta(name='description', content='TODO')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='github.css')
    link(rel='stylesheet', type='text/css', href='highlight.css')
    link(rel='stylesheet', type='text/css', href='style.css')
    script(src='scripts/modernizr.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js')

    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36589447-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();


  body
    #main
      header#pageHeader
        //- TODO

      .temp
        :markdown
          # Welcome developers

          This is the future site for Pryv developers. It's obviously a work-in-progress; here's what
          we currently have:

          - [Quick overview](overview.html)
          - [API reference](reference.html)
          - [Event types directory](event-types.html)
          - [Standard data structure](standard-structure.html): default and recommended channels and folders

          It's bare-bones stuff but should be enough to get you going, with our support of course
          (just <a href="mailto:developers@pryv.com">contact us</a> if you need help).

          ## A quick word on the API URL

          Due to the stage of development we're in, the frequent changes and the confidential number
          of developers working with us, we recommend everyone to use our staging API at
          `https://{username}.rec.la`, which matches the information on the present site.
          (The production API on `pryv.io` is updated much less often.)

          ## News

          You can follow the latest updates on [our temporary developers blog](http://dev-blog.pryv.com),
          or subscribe to the [newsfeed](http://dev-blog.pryv.com/feed).

          Yes we've ditched e-mail for notifications for now, and we're interested in knowing how
          you'd prefer being notified of news (just RSS? Twitter? e-mail?):
          <a href="mailto:developers@pryv.com">tell us</a>. Thanks in advance.

        //-hr

        //-.well.well-small
          form#ss-form(action="https://docs.google.com/a/pryv.com/spreadsheet/formResponse?formkey=dHlkcUFzV1pJNzYtaW5fZVNleV9JcXc6MQ&amp;ifq",method="POST")
            br
            div.errorbox-good
              div.ss-item.ss-text
                div.ss-form-entry
                  label.ss-q-title(for="entry_0")
                    b Notify me when changes occur
                  label.ss-q-help(for="entry_0") You'll receive an email when the API is updated or important changes occur in Pryv.
                  input.ss-q-short#entry_0(type="text",name="entry.0.single",value="",placeholder="email@ddress")
                  br
            input(type="hidden",name="pageNumber",value="0")
            input(type="hidden",name="backupCache",value="")
            div.ss-item.ss-navigate
              div.ss-form-entry
                input.btn.btn-primary(type="submit",name="submit",value="Submit")
