// can't use nib for now because of DocPad plugin settings bug
//@import 'nib'
body 
    font-family:Helvetica Neue
    color: #7E7E7E
*
  box-sizing: border-box

// override GitHub's awful default margins
h1, h2, h3, h4, h5
  font-family: museo_500regular
h1:first-of-type, h2:first-of-type, h3:first-of-type, h4:first-of-type, p:first-of-type
  margin-top: 0
h5, h6
  margin: 1.5em 0 0.75em
p, blockquote, ul, ol, dl, li, table, pre
  margin: 0.75em 0;
h1
  width:100%
  background: #266C9C url("images/bgPaper.png") repeat center center;
  color:#FFFFFF
  padding: 20px 40px 20px 40px
h2
  border-top: 1px solid #EEE
  padding: 40px 0px 0px 0px;
h3
  //border-top: 1px solid #EEE
  color:#056397
  text-transform:uppercase
pre
  border: 0 none
  padding: 0

.navbar
  .brand
    display: block
    margin-left: 5px
    width: 80px
    height: 40px
    padding: 0
    text-indent: -9000px
    background: url(images/LogoPrYvDigital-API.png) no-repeat left center
  li
    margin-top: 0 !important
    margin-bottom: 0 !important
  .version
    margin-top: 8px;
    font-weight: normal;
    font-size:14px
.masthead
    margin: 0 -20px 0 -20px
    background: #266C9C url(images/bgPaper.png) repeat center center
    h1
      color: #FFFFFF
    .container
      text-align: center
      padding: 30px 0 70px 0
.marketingIcon
    h2
      border:0
      padding-top: 10px;
    .span4
      text-align: center
    img
      margin:20px 0 0 0
.buttonCreateAccount
    a
      text-align: center
      margin: 0 auto
      background-color: #C22121;
      color: #FFABAB;
      width: 340px;
      padding: 20px 30px;
      display: block;
      border: 1px solid rgba(0, 0, 0, 0.1);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      cursor: pointer;
      font-size:18px
      strong
        color:#FFF

#main-wrapper
  margin-top: 40px // for navbar


#main
  > section
    //margin-top: 2em
    //padding-top: 4em
    border-top: 1px solid #EEE

    section
      //margin-bottom: 1em
      //margin-top: 40px

  > section:first-of-type
    margin-top: 0
    padding-top: 0
    border-top: 0 none



  ul
    margin: 0;
    padding: 0;
    list-style: none;

  li
    margin: 0
    padding: 5px 10px
    line-height: 1.2em

  a
    color: #7e7e7e
    text-decoration: none
    display: block

  .toc-h1
    font-weight: bold
  .toc-h1 a
    color: #333
  .toc-active a
    color: #FFF

  .toc-h2
    padding-left: 20px
    font-size: 0.9em

  .toc-h3
    padding-left: 30px
    font-size: 0.85em

  .toc-active
    background: #336699;
    box-shadow: inset -5px 0px 10px -5px #000;

@media (min-width: 767px)
  html.js
    body
      #main-wrapper
        //width: 540px
    body.with-toc
      #toc
        display: none // only shown if js and enough width
        height: 100%;
        position: fixed;
        top:0
        background: #EDEFF3;
        width: auto;
        padding-top: 20px;
        color: #fff;
        overflow: scroll;
        margin-top: 40px;
        font-family: museo_500regular,"Helvetica Neue",Helvetica,"pragmatica-web",Arial,sans-serif;
        font-weight: 300;
        width: 220px;
      #main
        margin-left: 220px
        //width: 540px;
      .row
        position:relative
      #toc
        display: block
    body.with-toc.with-examples
      #toc
        top: 0px;
        left: 0px;
        height: 100%;
        position: fixed;
        background: #EDEFF3;
        width: 200px;
        padding-top: 20px;
        color: #fff;
        overflow: scroll;
        margin-top: 40px;
        font-family: museo_500regular,"Helvetica Neue",Helvetica,"pragmatica-web",Arial,sans-serif;
        font-weight: 300;
      #main-wrapper
        margin-left: 200px
        width:auto
      #main
        float: left;
        background-color: #EDEFF3
        margin: 0 0 0 50%
        max-width: none
        width: 50%
    body.landing-page
      #main-wrapper
        width:auto
  body
    margin: 0 auto
    padding: 0 20px


  body.with-examples
    padding: 0
    #main
      section
        float: left;
        clear: both;
        width: 100%

        > h1, > h2, > h3
          float: left
          clear: left
          width: 50%
          padding: 40px 40px 0px 40px;
        > .intro
          //text-transform: uppercase;
          color: #C4C4C4;
          //font-style: italic;
        > .intro, > .content
          float: left
          clear: left
          width: 50%
          padding: 0px 40px 40px      
        > h1
          width:100%
          background: #266C9C url("images/bgPaper.png") repeat center center;
          color:#FFFFFF
          padding: 20px 40px 20px 40px
        > h2
          //padding-top: 40px
          

        > aside
          float: right
          clear: right
          width: 50%
          padding: 0 40px

      > section
        margin-left: -100%
        width: 200%


