// can't use nib for now because of DocPad plugin settings bug
//@import 'nib'

header#pageHeader h1
  text-indent: -9000px;
  display: block;
  padding: 0;
  height: 40px;
  width: 80px;
  background: url(../images/LogoPrYvDigital_80x40.png) no-repeat center top;
//new strucure 2 column
#sections
  position:relative;
  background-color:#393d46;
  margin-left: 50%;
.block-method
  position:relative;
  margin-left: -100%;
  clear: left;
.block-description
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position:relative;
  float: left;
  width: 50%;
.block-example
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 38px 30px 0;
  position:relative;
  width: 50%;
  margin-left:50%;

// override GitHub's awful default margins
h1, h2, h3
  margin: 2.4em 0 1.2em;
h1:first-of-type
  margin-top: 0
h5, h6
  margin: 1.5em 0 0.75em
p, blockquote, ul, ol, dl, li, table, pre
  margin: 0.75em 0;
h2
  border-bottom: 1px solid #000
h3
  border-bottom: 1px solid #CCC
section
  //margin-top: 3.5em
  //border-top: 1px dotted #CCC
  //padding-top: 2.5em
  &:first-child
    margin-top: 0
    border-top: none
    padding-top: 0



#toc
  display: none // only shown if js and enough width
  top: 0px;
  left: 0px;
  height: 100%;
  position: fixed;
  background: #333;
  box-shadow: inset -5px 0 5px 0px #000;
  width: 200px;
  padding-top: 20px;
  color: #fff;
  overflow: scroll;

  ul
    margin: 0;
    padding: 0;
    list-style: none;

  li
    margin: 0
    padding: 5px 10px
    line-height: 1.2em

  a
    color: #fff;
    text-decoration: none;
    display: block;

  .toc-h1
    font-weight: bold

  .toc-h2
    padding-left: 20px
    font-size: 0.9em

  .toc-h3
    padding-left: 30px
    font-size: 0.85em

  .toc-active
    background: #336699;
    box-shadow: inset -5px 0px 10px -5px #000;

@media (min-width: 600px)
  html.js
    #main
      margin-left: 200px
    #toc
      display: block
