section.temp
  :markdown
    To add items to the lists below just [send us a message](mailto:developers@pryv.com).

    ## Existing apps and services

    - Pryv browser: our main web app (TODO: link)
    - Pryv iOS: the "official" iPhone app (TODO: link)
    - Web bookmarklet: https://github.com/pryv/bookmarklet
    - Command-line interface (TODO, link when appropriate: https://github.com/pryv/cli)
    - Raw data explorer: https://github.com/pryv/explorer
    - Spreadsheet data importer: https://github.com/pryv/web-data-importer
    - Integrations with existing services:
      - Twitter: https://github.com/pryv/bridge-twitter
      - Withings: https://github.com/pryv/bridge-withings

    ## Wish list

    - **E-mail**: Using Pryv as e-mail store seems obvious. Some ways to do it:
      - An IMAP service, for existing email clients to tap into
      - A client app (or integration into an existing client) pulling mail from a POP server
    - **Blogging**: Pryv also makes sense as a store for blogging engines, either directly (probably with caching of some sort) or via syncing. A very minimal personal blog thing would be simple enough to implement, but one could also try forking an existing engine.
    - **Time tracking**: This actually was one of the first apps we envisioned, and it's a natural fit for the API.
    - More integrations with existing services (one-way or bidirectional)
