section.temp
  :markdown
    # Code libraries

    To add items to the lists below just [send us a message](mailto:developers@pryv.com).

    ## Existing libraries

    - Javascript (browser & Node.js): https://github.com/pryv/lib-javascript
    - Apple Cocoa (iOS & OSX): https://github.com/pryv/sdk-objectivec-apple
    - Android: https://github.com/pryv/sdk-android
    - PHP: https://github.com/pryv/sdk-php

    ## Wish list

    - Go
    - Python
    - Ruby
    - .NET
