.row
  .col-md-8.col-lg-6
    section.faq
      :markdown
        If you feel anything is missing here just [send us a message](mailto:developers@pryv.com).

        ## Why Pryv?

        It's a long story, but one thing we can tell is that there's a definite convergence towards reuniting people's data into a single space and towards more privacy and user control. This is happening, for the good of most of us.
        On the one hand, new apps and services now pop up regularly, each with their own angle on the matter (journaling, lifelogging / quantified self, travelling, etc.). On the other, initiatives such as [Tent](https://tent.io) aim to define the decentralized protocol that will bind all of this together and hand ultimate control to the user.
        Here we stand:

        - Things aren't ready today for most end-users to host their own servers, so we chose to focus on offering a service first.
        - A service reuniting an individual's most relevant personal data should offer means to generically visualize and browse this data, in the same way operating systems offer interfaces such as the OSX Finder or Windows Explorer. We believe [our take on this](#TODO) is quite appropriate and unique.
        - Such a service must provide hard-core guarantees about privacy, ownership and control, and that this can only be truly achieved with data decentralization (on the technical side) and full transparency and openness (on the business side).
        - We believe in the advent of an open protocol ultimately, and we will work to support that, but we think developers need a simple and friendly platform to build on today. We also want to help shaping this future protocol by example.
        - Business-wise, we build this platform upfront, with the challenges it implies. We've been tempted by alternative, more "investor-friendly" approaches to build significant user traction first, such as focusing on a single-purpose, "vertical" app (lifelogging, social...), but we acknowledged this would only distract us from our goal. We believe that pursuing this goal stubbornly, openly and transparently has all the power we need to federate a community of like-minded developers building a new breed of user-centric apps.
