.masthead
  h1 Welcome developers
  img(src="images/logo-API-Big.png")

.container
  .row
    .col-sm-offset-1.col-sm-10
      .summary
        h1 Pryv is an open platform for (personal) time-based data
        p.lead
          | Everyday new apps and devices pop up, collecting and building value from users data—<br>but with each working in its own silo, how far can we get?<br/>
          strong
            | Data streams from heterogeneous sources need to reunite, and users must be in control.<br>

  .row
    .col-md-4.marketing-icon
      :markdown
        ## Events for anything, contextualized

        Collect data and/or build meaning across multiple streams, whatever their source.

        Personal metrics, location, pictures, audio, notes, activities, vegetable garden yields, you name it: if it’s got a time, it can be a Pryv event. With an open directory of event types bound to evolve with the needs of the community, you set the limits.

        ![Event types](images/event-type.png)

    .col-md-4.marketing-icon
      h2 One simple HTTP + websockets API

      ul.nav.nav-tabs
        li.active: a(href='#api-example-http', data-toggle='tab') HTTP
        li: a(href='#api-example-sockets', data-toggle='tab') Socket.IO
      .tab-content
        #api-example-http.tab-pane.active
          :markdown
            ```http
            GET /events?auth={token} HTTP/1.1
            Host: {user}.pryv.io
            Accept: application/json
            ```
          .step-marker ⬇
          :markdown
            ```json
            {
              "events": [
                {
                  "time": 1369143391.115,
                  "type": "temperature/c",
                  "content": 27.7,
                  "...": "..."
                },
                {
                  "time": 1369140027.36,
                  "type": "position/wgs84",
                  "content": {
                    "latitude": 46.517699,
                    "longitude": 6.562671
                  },
                  "...": "..."
                },
                ...
              ]
            }
            ```
        #api-example-sockets.tab-pane
          :markdown
            ```javascript
            socket.emit('events.get', {}, function (err, result) {
              // > result.events
              // [
              //   {
              //     time: 1369143391.115,
              //     type: 'temperature/c',
              //     content: 27.7,
              //     ...
              //   },
              //   ...
              // ]
            });
            ```

    .col-md-4.marketing-icon
      :markdown
        ## Decentralized & built for privacy

        Users truly own and control their data, including where it’s hosted.

        ![Decentralization](images/vShare.png)

.signup
  #mc_embed_signup
    form#mc-embedded-subscribe-form.form-inline.validate(novalidate='', target='_blank', name='mc-embedded-subscribe-form', method='post', action='http://pryv.us7.list-manage.com/subscribe/post?u=aa8bf1af0a3cd069ccd7fc073&id=1910092bc4', role='form')
      .form-group
        input#mce-EMAIL.form-control.email(type='email', value='', name='EMAIL', placeholder='Your e-mail', required='required')
      .form-group
        .text I am a...
      .checkbox
        label
          input(id='mce-group[8389]-8389-0', type='checkbox', name='group[8389][1]', value='1')
          | Future user
      .checkbox
        label
          input(id='mce-group[8389]-8389-1', type='checkbox', name='group[8389][2]', value='2')
          | Developer
      // real people should not fill this in and expect good things - do not remove this or risk form bot signups
      div(style='position: absolute; left: -5000px;')
        input(type='text', value='', name='b_aa8bf1af0a3cd069ccd7fc073_1910092bc4')
      .form-group
        button#mc-embedded-subscribe.btn.btn-primary.button.form-control(type='submit', name='subscribe')
          | Apply for our public beta&nbsp;
