---
id: home
title: Home
hideTitleHeading: true
template: default.jade
permalink: false
---

.jumbotron
  h1
    span Welcome
    span: img#logo-dev(src='assets/images/logo-dev.png', alt='Pryv')
    span developers

.container
  .summary
    p.lead
      strong A safe home for your users' timestamped data.<br>
      | Unite custom & existing streams onto one simple yet remarkably powerful platform. All data is kept per-user.
    .row
      .col-md-4: a.btn.btn-primary.btn-lg.btn-block(href='/getting-started/') Getting Started
      //.col-md-4
        .dropdown
          button#btn-get-started.btn.btn-primary.btn-lg.btn-block.dropdown-toggle(data-toggle='dropdown', aria-expanded='true')
            | Get started <span class="caret"></span>
          ul.dropdown-menu.dropdown-menu-lg(role='menu', aria-labelledby='btn-get-started')
            li: a(href='/getting-started/pryvme/') First Steps
      .col-md-4: a.btn.btn-primary.btn-lg.btn-block(href='/concepts/') API concepts
      .col-md-4: a.btn.btn-primary.btn-lg.btn-block(href='/reference/') API reference

    p.
      To learn about Pryv itself, see <a href="https://pryv.com">our main website</a>.

.container
  h2.page-header App examples & libraries
  
  p.
    Discover our <a href="/external-resources/">applications and libraries</a> and implement your own using our tutorials:<br>

    <ul>
      <li>Web applications</li>
      <li>iOs applications</li>
      <li>Android applications</li>
      <li>Integrations</li>
    </ul>

.container
  h2.page-header Features
  .row
    .col-md-4.marketing-icon
      :marked
        ### Events for anything, contextualized

        The API supports any timestamped content, including files. Health metrics, locations, pictures, audio samples, notes, activities, vegetable garden yields, you name it. See [the standard types directory](/event-types/).

        Organization is handled in a hierarchical structure with streams, that act as folders in a file system and encode context for your events.

        ![Event types](assets/images/event-type.png)

    .col-md-4.marketing-icon
      h3 One simple HTTP&nbsp;+&nbsp;websockets API

      ul.nav.nav-tabs
        li.active: a(href='#api-example-http', data-toggle='tab') HTTP
        li: a(href='#api-example-sockets', data-toggle='tab') Socket.IO
        li: a(href='#api-example-DNS-less', data-toggle='tab') DNS-less
      .tab-content
        #api-example-DNS-less.tab-pane.active
          :marked
            ```http
            GET {user}/events HTTP/1.1
            Authorization: {token}
            ```
          .step-marker ⬇
          :marked
            ```json
            {
              "events": [
                {
                  "time": 1369143391.115,
                  "type": "temperature/c",
                  "content": 27.7,
                  "...": "..."
                },
                {
                  "time": 1369140027.36,
                  "type": "position/wgs84",
                  "content": {
                    "latitude": 46.517699,
                    "longitude": 6.562671
                  },
                  "...": "..."
                },
                ...
              ]
            }
            ```
        #api-example-http.tab-pane.active
          :marked
            ```http
            GET /events HTTP/1.1
            Host: {user}.pryv.me
            Authorization: {token}
            ```
          .step-marker ⬇
          :marked
            ```json
            {
              "events": [
                {
                  "time": 1369143391.115,
                  "type": "temperature/c",
                  "content": 27.7,
                  "...": "..."
                },
                {
                  "time": 1369140027.36,
                  "type": "position/wgs84",
                  "content": {
                    "latitude": 46.517699,
                    "longitude": 6.562671
                  },
                  "...": "..."
                },
                ...
              ]
            }
            ```
        #api-example-sockets.tab-pane
          :marked
            ```javascript
            socket.emit('events.get', {}, function (err, result) {
              // > result.events
              // [
              //   {
              //     time: 1369143391.115,
              //     type: 'temperature/c',
              //     content: 27.7,
              //     ...
              //   },
              //   ...
              // ]
            });
            ```

    .col-md-4.marketing-icon
      :marked
        ### Decentralized & built&nbsp;for&nbsp;privacy

        Each user account can be served by a different server, which can be located anywhere.

        ![Decentralization](assets/images/vShare.png)
