---
id: home
title: Home
hideTitleHeading: true
template: default.jade
landingPage: true
permalink: false
---

.jumbotron
  h1
    span Welcome
    span: img#logo-dev(src='assets/images/logo-dev.png', alt='Pryv')
    span developers

.container
  .summary
    p.lead
      strong A safe home for your users' timestamped data.<br>
      | Unite custom & existing streams onto one simple yet remarkably powerful platform. All data is kept per-user in decentralized, medical-grade storage locations.
    .row.lead
      .col-md-4: a.btn.btn-primary.btn-lg.btn-block.disabled(href='/getting-started') Quickstart guide (soon)
      .col-md-4: a.btn.btn-primary.btn-lg.btn-block(href='/concepts') API concepts
      .col-md-4: a.btn.btn-primary.btn-lg.btn-block(href='/reference') API reference


    p.
      To learn about Pryv itself, see <a href="http://pryv.com">our main website</a>.

.container
  h2.page-header Features
  .row
    .col-md-4.marketing-icon
      :markdown
        ### Events for anything, contextualized

        The API supports any timestamped content, including files. Health metrics, locations, pictures, audio samples, notes, activities, vegetable garden yields, you name it. See [the standard types directory](/event-types).

        Organization is handled via simple and proven constructs like a hierarchical structure (streams) and tags.

        ![Event types](assets/images/event-type.png)

    .col-md-4.marketing-icon
      h3 One simple HTTP&nbsp;+&nbsp;websockets API

      ul.nav.nav-tabs
        li.active: a(href='#api-example-http', data-toggle='tab') HTTP
        li: a(href='#api-example-sockets', data-toggle='tab') Socket.IO
      .tab-content
        #api-example-http.tab-pane.active
          :markdown
            ```http
            GET /events?auth={token} HTTP/1.1
            Host: {user}.pryv.io
            Accept: application/json
            ```
          .step-marker ⬇
          :markdown
            ```json
            {
              "events": [
                {
                  "time": 1369143391.115,
                  "type": "temperature/c",
                  "content": 27.7,
                  "...": "..."
                },
                {
                  "time": 1369140027.36,
                  "type": "position/wgs84",
                  "content": {
                    "latitude": 46.517699,
                    "longitude": 6.562671
                  },
                  "...": "..."
                },
                ...
              ]
            }
            ```
        #api-example-sockets.tab-pane
          :markdown
            ```javascript
            socket.emit('events.get', {}, function (err, result) {
              // > result.events
              // [
              //   {
              //     time: 1369143391.115,
              //     type: 'temperature/c',
              //     content: 27.7,
              //     ...
              //   },
              //   ...
              // ]
            });
            ```

    .col-md-4.marketing-icon
      :markdown
        ### Decentralized & built&nbsp;for&nbsp;privacy

        Each user account can be served by a different server, which can be located anywhere. Pryv is [HIPAA-certified](http://pryv.com/certification).

        ![Decentralization](assets/images/vShare.png)
