body
  font-family: Helvetica Neue
  color: #7E7E7E
  padding-top: 50px // for navbar

*
  -moz-box-sizing: border-box
  box-sizing: border-box

h1, h2, h3, h4, h5
  font-family: museo_300regular
  color: #000

#main
  h1:first-of-type, h2:first-of-type, h3:first-of-type, h4:first-of-type, p:first-of-type
    margin-top: 0

  margin-bottom: 50px

h5, h6
  margin: 1.5em 0 0.75em

blockquote, ul, ol, dl, table, pre
  margin: 0.75em 0;

h1
  width:100%
  background: #266C9C url("images/bgPaper.png") repeat center center;
  color:#FFFFFF
  padding: 20px 40px 20px 40px

h1.page-title
  padding: 20px 0
  color: #666
  background: none

h2
  border-top: 1px solid #EEE
  padding: 40px 0px 0px 0px;
  color: #333;
section:first-of-type>h2
  border: none

h3
  text-transform:uppercase
  font-size: 17.5px;

pre
  border: 0 none
  padding: 0

code
  color: #333
  background-color: #EDEFF3

img
  max-width: 100%

table.definitions
  th
    padding-right: 0.8em
    vertical-align: top
    text-align: right
    font-weight: normal
  table.definitions
    margin-top: 0

dl
  margin: 2em 0;
  padding: 0;

dt
  width: 15em;
  float: left;
  margin: 0 0 0 0;
  padding: .5em;
  text-align: right;

dd
  margin: 0 0 0 0;
  padding: .5em;

.navbar
  .navbar-brand.logo
    padding-top: 5px

#footer-nav .navbar-nav
  margin-left: -15px
#page-footer nav
  margin-bottom: 0

body.landing-page
  h1
    padding: 0

  .masthead
    margin: 0 -20px 0 -20px
    padding: 30px 0 40px 0
    text-align: center
    background: #266C9C url(images/bgPaper.png) repeat center center
    h1
      color: #FFFFFF

  .summary
    margin: 30px 0 50px
    text-align: center
    h1
      color: #000
      background: none


  .marketing-icon
    text-align: center
    margin-bottom: 30px
    h2
      border:0
      padding-top: 10px;
    img
      margin: 15px 0 0 0
    pre>code
      text-align: left
      max-height: 250px
      overflow-y: scroll
    p
      font-size: 1.2em
      font-weight: 200;
      line-height: 1.4;

  .signup
    margin: 30px -15px 0 -15px
    padding: 30px 15px 30px 15px
    text-align: center
    background-color: #EDEFF3
    input, button
      margin: 10px 0
      max-width: 100%
      height: 2.4em
      font-size: 1.2em
    button
      background-color: #266C9C


.buttonCreateAccount
  a
    text-align: center
    margin: 0 auto
    background-color: #C22121;
    color: #FFABAB;
    width: 340px;
    padding: 20px 30px;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    font-size:18px
    strong
      color:#FFF

#main
  > section
    //margin-top: 2em
    //padding-top: 4em
    border-top: 1px solid #EEE

    section
      //margin-bottom: 1em
      //margin-top: 40px

  > section:first-of-type
    margin-top: 0
    padding-top: 0
    border-top: 0 none



  ul:not(.nav)
    margin: 0;
    padding: 0;
    list-style: none;
    li
      list-style-type: square

  ul:not(.nav), ol
    li
      margin-left: 2.4em
      padding: 10px 0 10px 0.4em

  .content
    .meta
      margin-top: -0.5em
      margin-bottom: 0.5em

    .method-id, :not(code).http
      display: inline-block
      height: 1.6em
      border-radius: 0.25em
      overflow: hidden
      .label
        padding: 0.5em 0.6em
        border-radius: 0
        margin: 0
      .label-value
        code, span
          padding: 0.6em 0.6em
          border-radius: 0
          margin: 0
          white-space: nowrap
          background-color: #EDEFF3

    .method-id
      margin-right: 0.5em
      .label
        background-color: #266C9C

  aside
    pre
      max-height: 400px
      overflow-y: scroll

  .header>span:not(:last-child)
    margin-right: 0.25em

  .http
    .label
      background-color: #7E7E7E

  .example .step-marker, .marketing-icon .step-marker
    text-align: center
    margin-top: -0.65em;
    margin-bottom: -0.58em;
    font-size: 2em
    color: #3F3F3F;

#toc
  display: none
  height: 100%
  position: fixed
  top: 50px // = navbar height
  width: auto
  color: #fff
  overflow: scroll
  font-family: museo_300regular,"Helvetica Neue",Helvetica,"pragmatica-web",Arial,sans-serif;
  width: 220px
  padding: 20px 20px 50px 0
  font-size: 90%
  ul
    margin: 0
    padding: 0
  .toc-h1
    font-family: museo_700regular
    padding: 2px 5px;
    a
      color: #333
  .toc-h2
    padding-left: 20px
    a
      color:#a2a2a2
  .toc-h3
    padding-left: 30px
    a
      color:#a2a2a2
  .toc-active
    background: #336699;
  .toc-active a
    color: #FFF


@media (min-width: 767px)
  html
    body.with-toc
      #main
        margin-left: 220px
      .row
        position:relative
      #toc
        display: block
    body.with-toc.with-examples
      #toc
        left: 0px;
        width: 200px;
        padding: 20px 0 20px;
        border-right: 1px solid #EEE;
      #main-wrapper
        margin-left: 200px
        width:auto
      #main
        float: left;
        background-color: #EDEFF3
        margin: 0 0 0 50%
        max-width: none
        width: 50%
        border-left: 1px solid #E7E7E7;
    body.landing-page
      #main-wrapper
        width:auto


  body.with-examples
    #main-wrapper
      padding: 0
    #main
      h1.page-title
        padding: 20px 40px 20px 40px
      section
        float: left;
        clear: both;
        width: 100%

        > h1, > h2, > h3
          float: left
          clear: left
          width: 50%
          padding: 40px 40px 0px 40px
        > .intro
          //text-transform: uppercase
          color: #C4C4C4
          //font-style: italic
        > .intro, > .content
          float: left
          clear: left
          width: 50%
          padding: 0px 40px 40px
        > h1
          width:100%
          background: #266C9C url("images/bgPaper.png") repeat center center
          color:#FFFFFF
          padding: 20px 40px 20px 40px
        > h2
          //padding-top: 40px


        > aside
          float: right
          clear: right
          width: 50%
          padding: 0 40px
          :not(pre)>code
            background-color: #FFFFFF

      > section, >h1.page-title
        margin-left: -100%
        width: 200%


